/*this is my stylesheet for the homepage*/

/*{outline: 1px solid white;}*/
/*header styles*/

/*font-family: 'Playfair Display', serif;
font-family: 'Cormorant Garamond', serif;
font-family: 'Satisfy', cursive;
font-family: 'Kaushan Script', cursive;
font-family: 'Istok Web', sans-serif;
font-family: 'Vidaloka', serif;*/

body/*body styles*/
{background-color: white;
  background-image:  image(images/bg.jpg);
}

#me{
  border-radius: 70%;
  margin-left: 30%;
}
#index-1{
  margin-left: 25%
}
#basic{
  margin-left: 45%;
  margin-top: -20%;
}
#edu{
  margin-top:10%;
  margin-left: 30%;
  font-family: 'Playfair Display', serif;;
}
h2{
  font-family: 'Julius Sans One', sans-serif;
  color: black;
}
h6{
font-family: 'Playfair Display', serif;}
p,ul,li{
  font-family: 'Playfair Display', serif;}
ul{
  font-weight: bold;
}
nav{
  margin-top: -10%;
  font-family: 'Satisfy', cursive;
  font-size: 150%;
  color: red;
  margin-left: 59%;
  list-style:
}
nav.hover{
  color: grey;
}
figcaption{
  margin-top: -10%;
  font-family: 'Playfair Display', serif;
  font-size: 100%;
  color: black;
  margin-left: 59%;
}
/*footer styles*/
