/*this is my stylesheet for the homepage*/

/*{outline: 1px solid white;}*/
/*header styles*/

body/*body styles*/
{background-color: white;
}

#me{
  border-radius: 30%;
  margin-left: 30%;
}
#index-1{
  margin-left: 30%
}
h2{
  font-family: 'Julius Sans One', sans-serif;
  color: black;
}
h6{
  font-family: 'BenchNine', sans-serif;}
p{
  font-family: 'Open Sans Condensed', sans-serif;}
nav{
  margin-top: -10%;
  font-family:serif;
  font-size: 150%;
  color: grey;
  margin-left: 59%;
}
/*footer styles*/
