/*this is my stylesheet for the homepage*/

/*{outline: 1px solid white;}*/
/*header styles*/

body/*body styles*/
{background-color: white;
}

#me{
  border-radius: 50%;
}
h2,{
  font-family: 'Julius Sans One', sans-serif;
  color: black;
}
h6{
  font-family: 'BenchNine', sans-serif;}
p{
  font-family: 'Open Sans Condensed', sans-serif;}
nav{
  font-family: 'Special Elite', cursive;
  font-size: 150%;
  color: black;
  margin-left: 59%;
}
/*footer styles*/
